@font-face {
    font-family: FRLG;
    src: url(../../../resource_font/pokemon-frlg.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: FRLG;
  font-size: 22px;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #111;
  color: white;
}

/* Top bar */
.topbar {
  height: 40px;
  background: #222;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  border-bottom: 1px solid #333;
}

.topbar button {
  padding: 4px 10px;
  cursor: pointer;
}

/* Layout */
.app {
  display: flex;
  height: calc(100vh - 40px);
}

/* Map viewport */
.viewport {
  flex: 1;
  position: relative;
  overflow: hidden;
  background: #000;
}

/* Camera container */
.camera {
  position: absolute;
  transform-origin: 0 0;
}

/* Map image */
.map {
  position: absolute;
  image-rendering: pixelated;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.left-sidebar {
  width: 250px;
  background: #111;
  color: white;
  padding: 16px;
  overflow-y: auto;
}

/* Sidebar */
.sidebar {
  width: 370px;
  background: #1b1b1b;
  border-left: 1px solid #333;
  padding: 16px;
  overflow-y: auto;
}

/* Objects */
.object {
  position: absolute;
  width: 16px;
  height: 16px;
  background: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}
.object.hm {
  background: rgba(255, 208, 0, 0.5);
}
.object.door {
  background: rgba(0, 255, 85, 0.5);
}
.object.trainer {
  background: rgba(25, 0, 255, 0.5);
}

/* Tooltip */
.tooltip {
  position: fixed;
  background: black;
  border: 1px solid #555;
  padding: 4px 8px;
  font-size: 22px;
  pointer-events: none;
  display: none;
  z-index: 999;
}

.sidebar ul {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

.sidebar li {
  margin-bottom: 6px;
}

.left-sidebar ul {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

.left-sidebar li {
  margin-bottom: 6px;
  text-decoration: underline;
  color:aquamarine;
}
.left-sidebar li:hover {
  margin-bottom: 6px;
  text-decoration: underline;
  color:orangered;
}

.region {
  position: absolute;
  background: transparent;
}

.region:hover {
  outline: 2px solid red;
}

.warp {
  position: absolute;
  user-select: none;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  line-height: 1.2;
  color:aquamarine;
}

.warp.vertical {
  width: 160px; /* fixed width so centering is stable */
}

.warp.horizontal {
  width: 120px;
}

.warp:hover {
  text-decoration: underline;
  color:orangered;
}

.fr {
    color: orangered;
}
.lg {
    color: lime;
}
.object img {
  position: absolute;     /* position relative to parent tile */
  bottom: 0;              /* bottom-align with tile */
  left: 50%;              /* horizontal center relative to tile */
  transform: translateX(-50%); /* center the image */
  image-rendering: pixelated;
  pointer-events: none;   /* so hover on parent works, not blocked by image */
  display: block;
}